#bg{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0%;
}

#ty{
    color: #371B58;
    font-weight: bolder;
}